
body {
    font-family: Avenir, Arial, sans-serif;
    margin: 0;
    font-size: 0;
    background-color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}



